@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #111827;
} */
html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@media (max-width: 640px) {
  .text-center.mb-5.sm\:py-10.md\:py-10.lg\:py-20 h2 {
    margin-top: 50px; /* Adjust this value to control the spacing */
  }
}

@media (max-height: 1050px) {
  #hero,
  #about {
    margin-top: 1000px; /* Adjust this value to control the spacing */
  }
}

@layer base {
  body {
    @apply bg-[#111827] text-gray-400 tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
}
